<!DOCTYPE html>
<html>
  <head>
    <title>test.ejs</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Value: <%= testValue %></h1>

    database의 raw_group으로 POST

    <br/><br/><br/>



    <form action="" method="post">
       <div> - name: <input type="text" name="name"> </div><br/>
       <div> - rand_num: <input type="text" name="rand_num"> </div><br/>
       <div> - date: <input type="text" name="date"> </div><br/>
    </form>

    <button class="sendbtn">전송</button>
    <div class="result"></div>


<!-- =========================================================================== -->
<!-- =========================================================================== -->

    <script>
        document.querySelector('.sendbtn').addEventListener('click', function(e) {

          var name = document.getElementsByName('name')[0].value;
          var rand_num = document.getElementsByName('rand_num')[0].value;
          var date = document.getElementsByName('date')[0].value;

          var jsonStr = {"name":name, "rand_num":rand_num, "date":date};
          console.log("JSON값: " + jsonStr);

          sendAjax('/test/test_db', jsonStr);
        })


        function sendAjax(url, data){

          data = JSON.stringify(data);
          var xhr = new XMLHttpRequest();
          xhr.open('POST', url);
          xhr.setRequestHeader('content-type', "application/json");
          xhr.send(data);

          console.log("sendAjax(): " + data);


          // 데이터 수신이 완료되면 표시
          xhr.addEventListener('load', function(){
            var result = JSON.parse(xhr.responseText);
            var resultDiv = document.querySelector('.result');

            resultDiv.innerHTML = result.result;
          });
        }

    </script>

  </body>
</html>
